<a href="https://colab.research.google.com/github/yun2590/nlp_2025/blob/main/3_indexing_slicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üìå Indexing of Sequence Data

| str data | I |   | l | o | v | e |  | P | y | t | h | o |n | ! |
|:---------|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:-|:-|:-:|
| Forward Indexing | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10| 11| 12|13|
| Backward Indexing|-14| -13| -12| -11| -10| -9| -8| -7| -6| -5| -4| -3| -2|-1|



# ‚úÇÔ∏è Slicing of List data

        üëª You have to deduct one (-1) from the second element (2Î≤àÏß∏ ÏöîÏÜåÎ•º |oo ÎØ∏Îßå|ÏúºÎ°ú Ìï¥ÏÑùÌïúÎã§.  

- [:] from the first element to the final element (e.g., 'I love Python!')

| str data | I |   | l | o | v | e |  | P | y | t | h | o |n | ! |
|:---------|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:-|:-|:-:|
| Forward Indexing | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10| 11| 12|13|
| Backward Indexing|-14| -13| -12| -11| -10| -9| -8| -7| -6| -5| -4| -3| -2|-1|


- [1:5] from Index 1 to Index 4 (e.g., ' love') (5 ÎØ∏Îßå)


| str data |   | l | o | v |
|:---------|:--|:--|:--|:-:|
| Forward Indexing | 1 | 2 | 3 | 4 |


- [:5] from Index 0 to Index 4 (e.g., 'I love') (5 ÎØ∏Îßå)


| str data | I |   | l | o | v |
|:---------|:--|:--|:--|:--|:-:|
| Forward Indexing | 0 | 1 | 2 | 3 | 4 |


- [5:] from Index 5 to the final element (e.g., 'e Python!')

| str data | e |  | P | y | t | h | o |n | ! |
|:---------|:--|:--|:--|:--|:--|:--|:-|:-|:-:|
| Forward Indexing | 5 | 6 | 7 | 8 | 9 | 10| 11| 12|13|

- [:-3] from forward Index 0 to Backward Index -4 (e.g., 'I love Pyth') (-3 ÎØ∏Îßå)

| str data | I |   | l | o | v | e |  | P | y | t | h |
|:---------|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:-:|
| Forward Indexing | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10|
| Backward Indexing|-14| -13| -12| -11| -10| -9| -8| -7| -6| -5| -4| -3| -2|-1|

- [-3:] from backward Index -3 to the final element (e.g., 'on!')

| str data | o |n | ! |
|:---------|:-|:-|:-:|
| Backward Indexing|-3| -2|-1|


- [::2] Every other element from the first element (e.g., 'Ilv yho')

| str data | I | l | v |  | y | h | n |
|:---------|:--|:--|:--|:--|:--|:--|:-:|
| Forward Indexing | 0 | 2 | 4 | 6 | 8 | 10| 12|



# ‚öæ ‚öΩ üèÄ üéæ üéØ It is time to get some exercise!

In [ ]:
#@markdown üìå Apply indices to string data

#@markdown Forward Indexing

str_data="Micky 17"
print(str_data[0])
print(str_data[1])
print(str_data[2])
print(str_data[3])
print(str_data[4])
print(str_data[5])
print(str_data[6])
print(str_data[7])

M
i
c
k
y

1
7

In [ ]:
str_data="Micky 17"
print(str_data[0])
print(str_data[1])
print(str_data[2])
print(str_data[3])
print(str_data[4])
print(str_data[5])
print(str_data[6])
print(str_data[7])

M
i
c
k
y

1
7

In [ ]:
#@markdown üìå Apply indices to string data

#@markdown Backward Indexing

str_data="Micky 17"
print(str_data[-1])
print(str_data[-2])
print(str_data[-3])
print(str_data[-4])
print(str_data[-5])
print(str_data[-6])
print(str_data[-7])
print(str_data[-8])

7
1

y
k
c
i
M

In [ ]:
str_data="Micky 17"
print(str_data[-1])
print(str_data[-2])
print(str_data[-3])
print(str_data[-4])
print(str_data[-5])
print(str_data[-6])
print(str_data[-7])
print(str_data[-8])

7
1

y
k
c
i
M

In [ ]:
strdata = 'Excellent!'

print(strdata[0])
print(strdata[1])
print(strdata[-1])

E
x
!

In [ ]:
listdata=[1000000]
print(listdata[1])
print(listdata[-1])
print(listdata[2][-1])

IndexError: list index out of range

In [ ]:
listdata = [1, 2, [3,4,5]]
print(listdata[0])
print(listdata[-1])
print(listdata[2][-1])

1
[3, 4, 5]
5

In [ ]:
#@markdown üöó üöô Sequence data (str, list, tuple)

#@markdown ##Exercise

list_data = ['apple', 'banana', 'grape', 'mango']
tuple_data = ('apple', 'banana', 'grape', 'mango')

print (list_data)
print(tuple_data)

['apple', 'banana', 'grape', 'mango']
('apple', 'banana', 'grape', 'mango')

In [ ]:
tuple_data=('apple', 'banana', 'grape', 'mango')
tuple_data[0]='shine musket'

print(tuple_data)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#@markdown üìå Apply indices to List data

#@markdown ## Replacment by means of using indices

list_data = ['apple', 'banana', 'grape', 'mango']
list_data[0] = 'shine musket'

print (list_data)

['shine musket', 'banana', 'grape', 'mango']

In [ ]:
#@markdown üëÄ Apply indices to Tupple data

#@markdown ### No Replacement for Tuple data (<font color = 'red'> TypeError</font> will pop up: <font color = 'red'>'tuple' object does not support item assignment)

tuple_data = ('apple', 'banana', 'grape', 'mango')
tuple_data[0] = 'shine musket'

print (tuple_data)

TypeError: 'tuple' object does not support item assignment

In [4]:
str_data='indexing slicing inpynb'
print(str_data[1:5])
print(str_data[:7])
print(str_data[9:])
print(str_data[:-3])
print(str_data[-3:])
print(str_data[:])
print(str_data[::2])

ndex
indexin
slicing inpynb
indexing slicing inp
ynb
indexing slicing inpynb
idxn lcn nyb

In [ ]:
#@markdown Slice sequence data

str_data = 'abcdefghijklmnopqrstuvwxyz!'
print(str_data[1:5])
print(str_data[:7])
print(str_data[9:])
print(str_data[:-3])
print(str_data[-3:])
print(str_data[:])
print(str_data[::2]) # Ï≤òÏùåÎ∂ÄÌÑ∞ ÎÅùÍπåÏßÄ Ïä§ÌÖùÏùÑ 2Î°ú Ìï¥ÏÑú Ïä¨ÎùºÏù¥Ïã± ÌïòÍ∏∞.

bcde
abcdefg
jklmnopqrstuvwxyz!
abcdefghijklmnopqrstuvwx
yz!
abcdefghijklmnopqrstuvwxyz!
acegikmoqsuwy!

#ÏãúÌÄÄÏä§ ÏûêÎ£å Ïó∞Í≤∞ÌïòÍ∏∞ (+)
  -ÏûêÎ£åÌòïÏù¥ ÎèôÏùºÌïú Îëê Í∞úÏùò ÏãúÌÄÄÏä§ ÏûêÎ£åÎäî Ïó∞Í≤∞ Í∞ÄÎä•
  

#ÏãúÌÄÄÏä§ ÏûêÎ£å Î∞òÎ≥µÌïòÍ∏∞ (*Ïà´Ïûê)

In [5]:
strdata1=' I love'; strdata2='Python'
print(strdata1+strdata2)
print(strdata1*5)

 I lovePython
 I love I love I love I love I love

In [ ]:
strdata1 = 'I love'; strdata2='Python'
print (strdata1 + strdata2)
print(strdata1*5)

I lovePython
I loveI loveI loveI loveI love

###  üëÄ üêæ **Make a wild guess how to <font color = 'red'> add space</font> between 'love' and 'Python.'**

In [6]:
#@markdown üíä **Possibility 1Ô∏è‚É£ üí°**

strdata1 = 'I love '; strdata2='Python'
print (strdata1 + strdata2)

I love Python

In [7]:
#@markdown üíä **Possibility 2Ô∏è‚É£ üí°**

strdata1 = 'I love '; strdata2=' Python'
print (strdata1 + strdata2)

I love  Python

In [9]:
strdata1=' I love'; strdata2='Python';strdata0=' '
print(strdata1+strdata0+strdata2)

 I love Python

In [8]:
#@markdown üíä **Possibility 3Ô∏è‚É£ üí°**

strdata1 = 'I love'; strdata0 = ' '; strdata2='Python'
print (strdata1 + strdata0 + strdata2)

I love Python

In [10]:
subject='BTS';verb='sings';object='Butter'
sentence=subject+verb+object*5
print(sentence)

BTSsingsButterButterButterButterButter

In [ ]:
subject = 'BTS'; verb= 'sings'; object = 'Butter'
sentence = subject + verb + object * 5
print(sentence)

BTSsingsButterButterButterButterButter

In [ ]:
#@markdown üíä Possibility 1Ô∏è‚É£ üí°

subject = 'BTS'; verb= 'sings'; object = 'Butter'; space = ' '
sentence = subject + space + verb + space + object * 5
print(sentence)

BTS sings ButterButterButterButterButter

In [ ]:
#@markdown ÏãúÌÄÄÏä§ ÏûêÎ£å ÌÅ¨Í∏∞ Ïù¥Ìï¥ÌïòÍ∏∞ (len)

str_data = 'abcdefghijklmnopqrstuvwxyz'
print(len(str_data))

26